.row1{
    background-repeat: no-repeat;
    height: 85px;
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    
    overflow: hidden;
    width: 101%;
}
html{
    font-size: 12px;
}

#header img{
    position: absolute;
    top: 14px;
    left: 30%;
}
.col-5{
    position: absolute;
    top: 14px;
   left :70%;
}


#navbarwrap{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    height: 70px;
}
#mainnavbar {
    margin: 0 auto;
    width: 930px;
    height: 50px;
   
}
#mainnav-inner {
    padding: 0 10px 0 0;
    height: 40px;
}
.splitmenu {
    margin: 0;
    padding: 0;
}
.splitmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
   
}
.splitmenu li {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 12px !important;
    line-height: 40px;
    padding: 12px;
   
}
#splitmenu a {
    color: black;
    float: left;
    height: 50px;
    margin: 0 1px 0 0;
    padding: 7px 10px;
    border-bottom: none;
    display: block;
    font-size: 12px !important;
    text-decoration: none;
    text-transform: uppercase;
}
a{
    color: black;
}
/* containerwrap */
#containerwrap{
    height: 800px;
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
   
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-top: -25px;
    width: 100%;
} 
#rs-container {
    height: 1700px;
    margin: 0 auto;
    padding: 0;
    width: 900px;
    text-align: left;

}
#rs-col1 {
    height: 600px;
    width: 220px;
    float: left;
    margin: 0;
    padding: 0;
}
#rs-col1 ul.menu{
    color: black;
    list-style: none;
    padding: 3px 22px 0 0;
    
 }
 #rs-col1 li{
     height: 30px;
 }
 #rs-col1 img{
     width: 193px;
     height: 115px;
 }
 /*  */
 #rs-rightside {
    width: 680px;
    float: right;
    margin-top: 5px;
 }
#model-content{
    margin: 5px 0 20px 0;
    width: 680px;
    
}
ul.model{
    padding: 0px;
    list-style: none;
}
/* Thông tin khoa học */
.sb-content{
    background-color: #eeeeec;
}
.sb-title {
    background-color: #bd4450;
    padding: 7px 8px 3px;
    width: 100%;
}
#model-content .sb-title a {
    color: #fff;
    margin-top: 0px;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
}
.sb-arts{
    font-size: 13px;
    margin-left: 10px;
    margin-right: 3px;
}
h3 {
    font-size: 13px;
    font-weight: bold;
    text-align: justify;
    text-decoration: none;
    margin: 0 0 10px 0!important;
}
h4{
    font-size: 13px;
}
footer{
    margin-top: 850px;
    height: 100px;
}
#ct-footer{
    background-repeat: no-repeat;
    height: 100px;
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    
    overflow: hidden;
    width: 101%;
}
#footer-content {
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
    height: 250px;
    padding-left: 25px;
}
#footer-left {
    vertical-align: top;
    width: 53px;
    float: left;
    margin-top: 20px;
}
#footerbetween {
    float: left;
    width: 500px;
    vertical-align: top;
    margin-top: 15px;
    line-height: 100%;
}
.modcnt{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 18px;
    padding-left: 10px;
    height: 80px;
}

